NODE_ENV=development
PORT=3000

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your-password
DB_NAME=node_mvc

# JWT
JWT_SECRET=your-strong-secret-here-min-16-chars
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

# Bcrypt
BCRYPT_ROUNDS=10

#git hub
GITHUB_TOKEN=GITHUB_TOKEN
